.task {
  /* Sample  */
  width: 300px;
  margin: auto;
  margin-bottom: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background-color: white;
}
.strike{
 text-decoration: line-through;
}
.color{
  width: 300px;
  margin: auto;
  background-color: white;
}
